@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Bakbak+One&family=Corinthia:wght@400;700&family=Smooch&display=swap');

:root{
    --golden: rgb(217, 165, 32);
    --chocolate: rgb(86, 43, 12);
}

html{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*{
    padding: 0; margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none; outline: none;
    transition: .2s linear;
}

*::selection{
    color: var(--golden);
    background: rgb(86, 43, 12, .5);
}



/* header starts */



header{
    text-transform: capitalize;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgb(86, 43, 12, .5);
    padding: 0 5rem;
}

.logo img{
    height: 15rem;
}

.navigation a{
    color: var(--golden);
    margin-right: 2rem;
    font-size: 3rem;
}

.navigation a:hover{
    color: var(--chocolate);
}

#menu{
    font-size: 3rem;
    color: var(--golden);
    border: 2px solid rgba(86, 43, 12, .5);
    padding: 2rem 2rem;
    cursor: pointer;
    display: none;
}



/* home section */



.home{
    text-transform: capitalize;
    background-color: rgba(217, 165, 32,.1);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .content h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    color: var(--chocolate);
}

.home .content p{
    font-size: 3.5rem;
    color: rgb(110, 51, 9);
}

.bt{
    display: inline-block;
    border: .2rem solid var(--golden);
    color: var(--golden);
    cursor: pointer;
    font-size: 2.5rem;
    border-radius: 2rem;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    padding: 2rem;
    position: relative;
}

.home .content{
    animation: changeSize 5s linear infinite;
}

@keyframes changeSize{
    0%, 100%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.5);
    }
}

.bt:before{
    content: ' ';
    width: 0;
    height: 100%;
    background: var(--chocolate);
    position: absolute;
    top: 0; right: 0;
    transition: .4s linear;
    z-index: -1;
}

.bt:hover::before{
    width: 100%;
    left: 0;
}



/* products section */



.products{
    text-transform: capitalize;
    margin: 3rem;
}

.products h1{
    font-size: 4rem;
    text-align: center;
    color: var(--golden);
    margin: 1rem;
}

.products .container{
    display: grid;
    grid-template-columns:repeat(auto-fit, 580px);
    grid-auto-rows: 1fr;
    gap: 2rem;
    justify-content: center;
}

.products .container .box{
    overflow: hidden;
    padding: 5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1) ;
}

.products .container .box .product{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.products .container .box .product img{
    width: 100%;
    height: 540px;
}

.products .container .content{
    position: absolute;
    background-color: rgb(221, 177, 64);
    left: 0; right: 0;
    top: 100%;
    height: 240px;
    text-align: center;
}

.products .container a{
    color: var(--chocolate);
    font-size: 4rem;
}

.products .container p{
    font-size: 3rem;
}

.products .container .stars{
    font-size: 3rem;
    color: rgba(86, 43, 12, .4);
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.products .container .box .product:hover .content{
    transform: translateY(-30%);
}

.products .container .box .product:hover img{
    transform: translateY(-10%);
}

.products .container .box .content:hover{
    background-color: var(--chocolate);
}

.products .container .box .content:hover a{
    color: rgb(221, 177, 64);
}

.products .container .stars i:hover{
    color: gold;
}

.products .container .stars i:hover ~ i {
    color: gold;
}

.products .container .stars i.active ~i{
    color: gold;
}



/* order section */



.order{
    text-transform: none;
    margin: 5rem;
    background: #fff;
}

.order h1{
    font-size: 4rem;
    text-align: center;
    color: var(--golden);
    margin: 1rem;
}

.order .main-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.order .main-info .details{
    width: 45%;
}

.order .main-info input, select{
    border: 1px solid var(--chocolate);
    margin: 2rem;
    padding: 1rem;
    border-radius: 5rem;
    width: 100%;
    background: rgba(217, 165, 32,.1);
    color: rgb(110, 51, 9);
}

.order .map{
    width: 45%;
}

#order-btn{
    display: flex;
    justify-content: center;
}

#order-btn .bt{
    padding: 2rem 5rem;
}

footer{
    text-transform: capitalize;
    width: 100%;
    background: rgba(217, 165, 32,.1);
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 3.5rem;
    color: var(--chocolate);
}

footer a{
    color: var(--chocolate);
}

footer .social-media a:hover{
    color: var(--golden);
    cursor: pointer;
}

@media(max-width: 900px){

    html{
        font-size: 60%;
    }

    @keyframes changeSize{
        0%, 100%{
            transform: scale(.7)
        }
        50%{
            transform: scale(1);
        }
    }
}

@media(max-width: 780px){
    html{
        font-size: 50%;
    }

    header{
        padding: 0;
    }

    #menu{
        display: initial;
        margin-right: 2rem;
    }

    .navigation{
        position: absolute;
        top: 100%; left: 0; right: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .navigation.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .navigation a{
        display: block;
        background-color: var(--chocolate);
        border-bottom: 1px solid var(--golden);
        margin: 0;
        padding: 1rem;
    }

    .navigation a:hover{
        background-color: var(--golden);
        border-left: 20px solid rgba(86, 43, 12, 0.5)
    }

}